blockquote {
    margin-bottom   : $line-height-computed;
    background-color: $blockquote-bg;
    border-color    : $blockquote-border-color;
    border-radius   : $blockquote-border-radius;
    @include box-shadow($component-box-shadow);
    footer {
        color: darken($blockquote-color ,15%);
    }
}
