button,
input,
label,
select,
textarea {
    font-size  : 14px;
    font-weight: 200;
    line-height: 20px;
}

button,
input,
select,
textarea {
    font-family: $input-font;
    outline    : 0 !important;
}

//

.form-control {
    display         : block;
    width           : 100%;
    height          : $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding         : $padding-base-vertical $padding-base-horizontal;
    font-size       : $font-size-base;
    line-height     : $line-height-base;
    color           : $input-color;
    background-color: $input-bg;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border          : 1px solid $input-border;
    border-radius   : $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    @include box-shadow($input-box-shadow);
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
    // Customize the `:focus` state to imitate native WebKit styles.
    @include form-control-focus;
    // Placeholder
    @include placeholder;
    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
        border          : 0;
        background-color: transparent;
    }

    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: $input-bg-disabled;
        opacity         : 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
    }

    &[disabled],
    fieldset[disabled] & {
        cursor: $cursor-disabled;
    }
    // [converter] extracted textarea& to textarea.form-control
}

textarea {
    height      : auto;
    padding-left: 12px !important;
    padding-top : 10px !important;
}

.form-control:focus {
    color             : $input-focus-color;
    border-color      : $input-focus-border-color;
    background-color  : $input-focus-background-color;
    outline           : 0 !important;
    -webkit-box-shadow: $input-focus-box-shadow !important;
    -moz-box-shadow   : $input-focus-box-shadow !important;
    box-shadow        : $input-focus-box-shadow !important;
}

input[type="checkbox"],
input[type="radio"] {
    margin            : 1px 0 0;
    line-height       : normal;
    cursor            : pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

input[type="file"],
select {
    height     : 34px !important;
    line-height: 30px;
}

select {
    width           : 220px;
    background-color: $brand-white;
    background-image: none !important;
    border          : 1px solid #e5e5e5;
    outline         : none;
    min-height      : 35px;

    &.xsmall {
        width: 64px !important;
    }

    &.small {
        width: 134px !important;
    }

    &.medium {
        width: 220px !important;
    }

    &.large {
        width: 334px !important;
    }
}

select[multiple],
select[size] {
    height: auto !important;
}

input[type="checkbox"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
select:focus {
    outline           : thin dotted #333333;
    outline           : 5px auto -webkit-focus-ring-color;
    outline-offset    : -2px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow   : none !important;
    box-shadow        : none !important;
}

input[class*="span"] {
    float      : none;
    height     : 34px !important;
    margin-left: 0;
}

select[class*="span"],
textarea[class*="span"] {
    float      : none;
    margin-left: 0;
}

.input-lg {
    border-radius: 3px !important;
    font-size    : 18px !important;
    height       : 45px !important;
    line-height  : 1.33 !important;
}

.input-sm {
    font-size : 13px !important;
    min-height: 29px !important;
}

.input-append,
.input-prepend {
    border : 0;
    display: inline-block;
}

.input-append .add-on,
.input-prepend .add-on {
    display         : inline-block;
    width           : auto;
    height          : 24px;
    min-width       : 16px;
    padding         : 4px 5px;
    font-size       : 14px;
    font-weight     : normal;
    line-height     : 24px;
    text-align      : center;
    text-shadow     : 0 1px 0 $brand-white;
    background-color: #e5e5e5;
    border          : 1px solid #e5e5e5;
}

.input-append .add-on > .halflings-icon,
.input-prepend .add-on > .fa,
.input-prepend .add-on > i {
    margin-top : 5px;
    margin-left: 3px;
}

.input-append .add-on > .fa,
.input-append .add-on > .halflings-icon .input-append .add-on > i {
    margin-top : 5px;
    margin-left: 0;
}

.input-append,
.input-append:focus {
    border-right: 0 !important;
}

.input-append input,
.input-append input[class*="span"],
.input-prepend input,
.input-prepend input[class*="span"] {
    display: inline-block !important;
    width  : 100%;
    float  : left;
}

.xsmall {
    width: 50px !important;
}

.small {
    width: 120px !important;
}

.medium {
    width: 206px !important;
}

.large {
    width: 320px !important;
}

.huge {
    width      : 480px !important;
    font-size  : 24px !important;
    height     : 36px !important;
    line-height: 36px !important;
    padding    : 22px 8px !important;
}

.checkbox,
.radio {
    margin-bottom: 0;
    margin-top   : 0;
    padding-left : 0;
}

.radio {
    label {
        display      : inline-block;
        cursor       : pointer;
        position     : relative;
        padding-left : 25px;
        margin-right : 15px;
        font-size    : 13px;
        margin-bottom: 6px;
        color        : #777a80;

        &:before {
            content         : '';
            display         : inline-block;
            width           : 17px;
            height          : 17px;
            margin-right    : 10px;
            position        : absolute;
            left            : 0;
            bottom          : 2.5px;
            background-color: $brand-white;
            border          : 1px solid #c2c6cb;
            border-radius   : 99px;
        }

        &:after {
            font-size        : 13px;
            content          : '';
            text-align       : center;
            display          : inline-block;
            width            : 17px;
            height           : 17px;
            position         : absolute;
            -o-transform     : scale(0);
            -ms-transform    : scale(0);
            -moz-transform   : scale(0);
            -webkit-transform: scale(0);
            transform        : scale(0);
            border-radius    : 99px;
            left             : 0;
            top              : 1px;
            background-color : #6f7b8a;
            border           : 1px solid #6f7b8a;
        }
    }

    input[type=radio] {
        display: none;
    }

    input[type=radio][disabled] {
        & + label {
            opacity: .65;
        }
    }

    &.radio-success {
        label {
            &:after {
                background-color: $brand-primary-dark;
                border          : 1px solid $brand-primary-dark;
            }
        }

        input[type=radio]:checked {
            & + label {
                &:before {
                    border: 1px solid $brand-primary-dark;
                }
            }
        }
    }

    &.radio-primary {
        label {
            &:after {
                background-color: $brand-primary;
                border          : 1px solid $brand-primary;
            }
        }

        input[type=radio]:checked {
            & + label {
                &:before {
                    border: 1px solid $brand-primary;
                }
            }
        }
    }

    &.radio-info {
        label {
            &:after {
                background-color: $brand-info;
                border          : 1px solid $brand-info;
            }

            input[type=radio]:checked {
                & +:before {
                    border: 1px solid $brand-info;
                }
            }
        }
    }

    &.radio-warning {
        label {
            &:after {
                background-color: $brand-warning;
                border          : 1px solid $brand-warning;
            }
        }

        input[type=radio]:checked {
            & + label {
                &:before {
                    border: 1px solid $brand-warning;
                }
            }
        }
    }

    &.radio-danger {
        label {
            &:after {
                background-color: #F35958;
                border          : 1px solid #F35958;
            }
        }

        input[type=radio]:checked {
            & + label {
                &:before {
                    border: 1px solid #F35958;
                }
            }
        }
    }

    input[type=radio]:checked {
        & + label {
            color: #4d5056;

            &:after {
                -o-transform      : scale(0.63);
                -ms-transform     : scale(0.63);
                -moz-transform    : scale(0.63);
                -webkit-transform : scale(0.63);
                transform         : scale(0.63);
                line-height       : 18px;
                -o-transition     : -o-transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
                -ms-transition    : -ms-transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
                -moz-transition   : -moz-transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
                -webkit-transition: -webkit-transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
                -o-transition     : transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
                -ms-transition    : transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
                -moz-transition   : transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
                -webkit-transition: transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
                transition        : transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
            }

            &:before {
                border: 1px solid #8e9095;
            }
        }
    }
}

.checkbox {
    input[type=radio][disabled] {
        & + label {
            &:after {
                background-color: #eceff3;
            }
        }
    }

    label {
        display      : inline-block;
        cursor       : pointer;
        position     : relative;
        padding-left : 25px;
        margin-right : 15px;
        font-size    : 13px;
        margin-bottom: 6px;
        color        : #777a80;
        transition   : border .2s linear 0s, color .2s linear 0s;
        margin-bottom: 10px;
        direction    : ltr;

        &:before {
            content         : '';
            display         : inline-block;
            width           : 17px;
            height          : 17px;
            margin-right    : 10px;
            position        : absolute;
            left            : 0;
            top             : 1.4px;
            background-color: $brand-white;
            border          : 1px solid #c2c6cb;
            border-radius   : 3px;
            transition      : border .2s linear 0s, color .2s linear 0s;
        }

        &::after {
            display   : inline-block;
            width     : 16px;
            height    : 16px;
            position  : absolute;
            left      : 3.2px;
            top       : 0;
            font-size : 11px;
            transition: border .2s linear 0s, color .2s linear 0s;
        }

        &:after {
            border-radius: 3px;
        }
    }

    input[type=checkbox] {
        display: none;
    }

    &.checkbox-circle {
        label {
            &:after {
                border-radius: 99px;
            }

            &:before {
                border-radius: 99px;
            }
        }
    }

    input[type=checkbox]:checked {
        & + label {
            color: #4d5056;

            &::after {
                font-family: 'FontAwesome';
                content    : '\F00C';
            }
        }
    }

    input[type=checkbox][disabled] {
        & + label {
            opacity: .65;

            &:before {
                background-color: #eceff3;
            }
        }
    }

    &.check-success {
        input[type=checkbox]:checked {
            & + label {
                &:before {
                    background-color: $brand-primary-dark;
                    border          : 1px solid $brand-primary-dark;
                }

                &::after {
                    color: $brand-white;
                }
            }
        }
    }

    &.check-primary {
        input[type=checkbox]:checked {
            & + label {
                &:before {
                    background-color: $brand-primary;
                    border          : 1px solid $brand-primary;
                }

                &::after {
                    color: $brand-white;
                }
            }
        }
    }

    &.check-info {
        input[type=checkbox]:checked {
            & + label {
                &:before {
                    background-color: $brand-info;
                    border          : 1px solid $brand-info;
                }

                &::after {
                    color: $brand-white;
                }
            }
        }
    }

    &.check-warning {
        input[type=checkbox]:checked {
            & + label {
                &:before {
                    background-color: $brand-warning;
                    border          : 1px solid $brand-warning;
                }

                &::after {
                    color: $brand-white;
                }
            }
        }
    }

    &.check-danger {
        input[type=checkbox]:checked {
            & + label {
                &:before {
                    background-color: $brand-danger;
                    border          : 1px solid $brand-danger;
                }

                &::after {
                    color: $brand-white;
                }
            }
        }
    }
}

table {
    td {
        .checkbox {
            label {
                padding-left: 0;
            }
        }
    }

    th {
        .checkbox {
            label {
                padding-left: 0;
            }
        }
    }

    &.fc-border-separate {
        margin-top: 20px;
    }
}

.star {
    label {
        display      : inline-block;
        cursor       : pointer;
        position     : relative;
        font-size    : 18px;
        transition   : border .2s linear 0s, color .2s linear 0s;
        margin-bottom: 10px;

        &:before {
            font-family : 'FontAwesome';
            content     : '\F005';
            display     : inline-block;
            margin-right: 10px;
            position    : absolute;
            left        : 0;
            top         : -4px;
            font-size   : 18px;
            color       : #97a3b3;
            transition  : border .2s linear 0s, color .2s linear 0s;
        }
    }

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked {
        & + label {
            &:before {
                color: #ffd200;
            }
        }
    }
}

.wysihtml5-toolbar {
    li {
        padding-left: 0;
    }
}

.bootstrap-tagsinput {
    display         : block;
    width           : 100%;
    height          : $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding         : $padding-base-vertical $padding-base-horizontal;
    font-size       : $font-size-base;
    line-height     : $line-height-base;
    color           : $input-color;
    background-color: $input-bg;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border          : 1px solid $input-border;
    border-radius   : $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
    // Customize the `:focus` state to imitate native WebKit styles.
    @include form-control-focus;
    // Placeholder
    @include placeholder;
    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
        border          : 0;
        background-color: transparent;
    }

    &.focus {
        color             : $input-focus-color;
        border-color      : $input-focus-border-color;
        background-color  : $input-focus-background-color;
        outline           : 0 !important;
        -webkit-box-shadow: $input-focus-box-shadow !important;
        -moz-box-shadow   : $input-focus-box-shadow !important;
        box-shadow        : $input-focus-box-shadow !important;
    }

    input {
        border          : none;
        margin-bottom   : 0;
        min-height      : 25px;
        box-shadow      : none !important;
        background-color: transparent !important;
        background      : none !important;
        min-height      : auto;
        max-height      : auto;
        padding         : 0 !important;
        line-height     : 1;
        height          : 20px;
    }

    .tag {
        // vertical-align: middle;
        // padding: 4px 9px;
        // margin-top: 0px;
        // margin-bottom: $input-padding;
        // margin-right: $input-padding;
        // display: inline-block;
        // text-transform: capitalize;
    }
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover,
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: none;
}

form {
    margin: 0;

    legend {
        margin: 15px 0 10px !important;
    }
}

.column-seperation {
    & > div[class*="col-"] {
        border-right: 1px solid #ddd;
    }

    & > div[class*="col-"]:last-child {
        border-right: 0;
    }
}

.form-no-horizontal-spacing {
    .row-fluid {
        [class*="span"] {}

        .side-label {
            border-right: 1px solid #dddddd;
        }
    }

    .error {
        margin-bottom: 10px;
    }
}

input.placeholder,
textarea.placeholder {
    color: #aaa !important;
}

.help-block {
    margin-top: 10px;
}

.form-inline {
    input {
        margin-bottom: 0 !important;
    }
}

.form-label {
    margin-top: 2px;

    .required {
        color       : #e02222;
        font-size   : 12px;
        padding-left: 2px;
    }
}

.help-inline {
    margin-top: 6px;
}

.help-small {
    font-size     : 12px;
    padding-top   : 0;
    margin-top    : 0;
    margin-bottom : 0;
    padding-bottom: 0;
}

.success {
    .help-inline {
        &.ok {
            &:before {
                content    : '\f00c';
                font-size  : 16px;
                font-family: FontAwesome;
                font-weight: normal;
                font-style : normal;
                display    : inline-block;
            }
        }
    }
}

.form-view legend,
form legend {
    margin-bottom: 15px !important;
}

.controls > .checkbox .checker,
.controls > .radio .checker {
    margin-right: 2px !important;
}

.controls > .checkbox,
.controls > .radio {
    display: inline-block;
    padding: 0 !important;
    margin : 8px 15px 0 0 !important;
}

.controls > .checkbox.line,
.controls > .radio.line {
    display: block;
    padding: 0 !important;
    margin : 5px 0 0 !important;
}

.controls {
    .inline {
        margin-top: 8px;
    }
}

.form-view {
    .control-group {
        margin-top   : 0;
        margin-bottom: 5px;
    }
}

.uploader {
    margin-top: 2px !important;
}

.hint {
    padding: 5px 0 0 10px;
}

.form {
    form {
        margin : 0 !important;
        padding: 0 !important;
    }

    .form-actions {
        margin-top  : 0 !important;
        margin-top  : 40px !important;
        padding-left: 190px;
    }
}

.form-actions {
    border       : 0;
    margin-bottom: 20px;
    margin-top   : 20px;
    padding      : 19px 20px 20px;

    &:after {
        clear: both;
    }
}

.form-actions:after,
.form-actions:before {
    content    : '';
    display    : table;
    line-height: 0;
}

.form-horizontal {
    display     : inline-block;
    margin-right: 10px;
    position    : relative;
    top         : -4px;

    &.form-bordered {
        .control-group {
            margin       : 0;
            padding      : 0;
            border-bottom: 1px solid #eee;

            &:first-child {
                border-bottom: 1px solid #eee !important;
            }

            &.last {
                border-bottom: 0;
            }

            .controls {
                padding    : 10px;
                position   : relative;
                border-left: 1px solid #eee;

                .chosen-container {
                    min-height: 32px;

                    .help-block {
                        clear      : both;
                        padding-top: 10px !important;
                    }
                }
            }

            .control-label {
                margin-top: 10px;
            }
        }

        &.form-row-stripped {
            .control-group {
                &:nth-child(even) {
                    background-color: #fcfcfc;
                }
            }

            .m-wrap {
                background: $brand-white !important;
            }
        }

        &.form-label-stripped {
            .control-group {
                &:nth-child(even) {
                    background-color: #fcfcfc;

                    .controls {
                        background-color: $brand-white;
                    }
                }
            }
        }
    }
}

.form-horizontal.form-bordered .help-block,
.form-horizontal.form-bordered .help-inline {
    padding-left: 0;
}

.grid.box .form .form-actions,
.grid.solid .form .form-actions {
    margin-left  : -10px !important;
    margin-right : -10px;
    margin-bottom: -10px !important;
}

// .wizard-steps {
//     display: block;
//     list-style: none outside none;
//     padding: 0;
//     position: relative;
//     width: 100%;
//     li {
//         display: block;
//         float: left;
//         max-width: 25%;
//         min-width: 25%;
//         text-align: center;
//         padding-left: 0;
//         &:before {
//             border-top: 6px solid #55606E;
//             content: "";
//             display: block;
//             font-size: 0;
//             overflow: hidden;
//             position: relative;
//             top: 13px;
//             right: 1px;
//             width: 100%;
//             z-index: 1;
//         }
//         &:first-child {
//             &:before {
//                 left: 50%;
//                 max-width: 50%;
//             }
//         }
//         &:last-child {
//             &:before {
//                 max-width: 50%;
//                 width: 50%;
//             }
//         }
//         &.complete {
//             .step {
//                 background-color: $brand-primary;
//                 padding: 1px 6px;
//                 border: 4px solid #55606e;
//             }
//         }
//         .step {
//             background-color: $brand-gray;
//             border-radius: 32px 32px 32px 32px;
//             color: $brand-white;
//             display: inline;
//             font-size: 15px;
//             font-weight: bold;
//             line-height: 12px;
//             padding: 4px 9px;
//             position: relative;
//             text-align: center;
//             z-index: 2;
//             transition: all 0.2s linear 0s;
//             i {
//                 font-size: 10px;
//                 font-weight: normal;
//                 position: relative;
//                 top: -1.5px;
//             }
//         }
//         .title {
//             color: #B1BCC5;
//             display: block;
//             font-size: 13px;
//             line-height: 15px;
//             max-width: 100%;
//             position: relative;
//             table-layout: fixed;
//             text-align: center;
//             top: 20px;
//             word-wrap: break-word;
//             z-index: 104;
//         }
//     }
// }
// .wizard-steps a:hover,
// .wizard-steps a:active,
// .wizard-steps a:focus {
//     text-decoration: none;
// }
// .wizard-steps li.active .step,
// .wizard-steps li.active.complete .step {
//     background-color: $brand-primary-dark;
//     color: $brand-white;
//     font-weight: bold;
//     padding: 10px 15px;
//     border: none;
//     font-size: 16px;
// }
// .wizard-steps li.complete .title,
// .wizard-steps li.active .title {
//     color: #2B3D53;
// }
.step-content {
    margin-left: 60px;
    margin-top : 40px;

    .step-pane {
        display   : none;
        min-height: 267px;
    }

    .active {
        display: block;
    }
}

// .wizard-actions {
//     display: block;
//     list-style: none outside none;
//     padding: 0;
//     position: relative;
//     width: 100%;
//     li {
//         display: inline;
//     }
// }
.tab-content {
    overflow        : auto;
    position        : relative;
    z-index         : 10;
    background-color: $brand-white;
    // overflow: hidden;
    margin-bottom   : 18px;

    &.transparent {
        background-color: transparent;
    }
}

// .form-group {
//     margin-bottom: 20px;
//     .form-label {
//         color: #55606e;
//         display: inline-block;
//         margin-right: 8px;
//     }
//     .help {
//         color: #A7ABB1;
//         font-size: 12px;
//     }
//     .controls {
//         margin-top: 8px;
//     }
// }
// .form-control {
//     border: 1px solid #E5E9EC;
//     font-size: 13px;
// }
.form-row input,
.form-row select,
.form-row select2,
.form-row textarea {
    margin-bottom: 10px;
}

.form-row {
    .radio {
        margin-bottom: 7px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.slide-primary,
.slide-success {
    display: inline-block;
}

.slide-primary {
    .ios-switch {
        .on-background {
            background-image: none;
            background-color: $brand-primary;
        }
    }
}

.slide-success {
    .ios-switch {
        .on-background {
            background-image: none;
            background-color: $brand-primary-dark;
        }
    }
}

// .select2-container {
//     .select2-choice {
//         background-image: none;
//         border-radius: $input-border-radius;
//         border: 1px solid $input-border;
//         color: $input-color;
//         padding: 3px 9px;
//         height: 35px;
//         -webkit-box-shadow: $input-box-shadow !important;
//         -moz-box-shadow: $input-box-shadow !important;
//         box-shadow: $input-box-shadow !important;
//         transition: border $transition-speed $transition-type, box-shadow $transition-speed $transition-type, color $transition-speed $transition-type, box-shadow $transition-speed $transition-type, background $transition-speed $transition-type;
//         .select2-arrow {
//             background: transparent;
//             border-left: 0px;
//             b {
//                 background: none;
//                 &:before {
//                     font-family: 'FontAwesome';
//                     content: "\f0d7";
//                     position: relative;
//                     top: 2px;
//                     right: 5px;
//                     font-size: 12px;
//                 }
//             }
//         }
//     }
//     &.select2-drop-above {
//         .select2-choice {
//             -webkit-border-bottom-right-radius: $input-border-radius;
//             -webkit-border-bottom-left-radius: $input-border-radius;
//             -moz-border-radius-bottomright: $input-border-radius;
//             -moz-border-radius-bottomleft: $input-border-radius;
//             border-bottom-right-radius: $input-border-radius;
//             border-bottom-left-radius: $input-border-radius;
//         }
//     }
// }
// .select2-dropdown-open.select2-drop-above .select2-choice,
// .select2-dropdown-open.select2-drop-above .select2-choices {
//     background-image: none;
//     border: 1px solid $input-border;
//     background: $input-bg;
// }
// .select2-dropdown-open {
//     .select2-choice {
//         .select2-arrow {
//             b {
//                 -webkit-transform: scale(1, -1);
//                 -moz-transform: scale(1, -1);
//                 -ms-transform: scale(1, -1);
//                 -o-transform: scale(1, -1);
//                 transform: scale(1, -1);
//             }
//         }
//     }
// }
// .select2-drop {
//     &.select2-drop-above {
//         -webkit-border-top-left-radius: $input-border-radius;
//         -webkit-border-top-right-radius: $input-border-radius;
//         -moz-border-radius-topleft: $input-border-radius;
//         -moz-border-radius-topright: $input-border-radius;
//         border-top-left-radius: $input-border-radius;
//         border-top-right-radius: $input-border-radius;
//         &.select2-drop-active {
//             border: 1px solid $input-border;
//             border-bottom: none;
//             border-radius: $input-border-radius;
//             padding-top: 0px;
//         }
//     }
// }
// .select2-container-active .select2-choice,
// .select2-container-active .select2-choices {
//     color: $input-focus-color;
//     border: 1px solid $input-focus-border-color;
//     background: $input-focus-background-color;
//     -webkit-box-shadow: $input-focus-box-shadow !important;
//     -moz-box-shadow: $input-focus-box-shadow !important;
//     box-shadow: $input-focus-box-shadow !important;
//     -webkit-border-bottom-left-radius: 0;
//     -webkit-border-bottom-right-radius: 0;
//     -moz-border-radius-bottomleft: 0;
//     -moz-border-radius-bottomright: 0;
//     border-bottom-left-radius: 0;
//     border-bottom-right-radius: 0;
//     transition: border $transition-speed $transition-type, box-shadow $transition-speed $transition-type, color $transition-speed $transition-type, box-shadow $transition-speed $transition-type, background $transition-speed $transition-type;
// }
// .select2-search {
//     padding-left: 8px;
//     padding-right: 8px;
//     padding-top: 3px;
//     input {
//         background: $input-bg !important;
//         vertical-align: baseline;
//         line-height: 28px;
//         border-radius: 2px;
//         border: none;
//         font-size: 12px;
//         border: 1px solid $input-border;
//     }
// }
// .select2-results {
//     margin: 3px 10px 10px 3px;
//     li {
//         color: $input-color;
//         &.select2-result-with-children {
//             & > .select2-result-label {
//                 color: #282323;
//             }
//         }
//     }
//     .select2-highlighted {
//         background: $brand-primary;
//         border-radius: 3px;
//         .select2-result-label {
//             color: $brand-white;
//         }
//     }
// }
// .select2-results .select2-no-results,
// .select2-results .select2-searching,
// .select2-results .select2-selection-limit {
//     background: none;
//     color: $input-color;
//     font-size: 12px;
//     padding-left: 8px;
//     padding-top: 0px;
//     position: relative;
//     top: -5px;
// }
// .select2-drop {
//     box-shadow: none;
// }
// .select2-drop-active {
//     border: 1px solid $input-focus-border-color;
//     background: $input-focus-background-color;
//     // border-bottom: none;
//     border-top: none;
//     -webkit-border-bottom-right-radius: $input-border-radius;
//     -webkit-border-bottom-left-radius: $input-border-radius;
//     -moz-border-radius-bottomright: $input-border-radius;
//     -moz-border-radius-bottomleft: $input-border-radius;
//     border-bottom-right-radius: $input-border-radius;
//     border-bottom-left-radius: $input-border-radius;
//     padding-top: 5px;
// }
// .select2-container-multi {
//     .select2-choices {
//         background-image: none;
//         border: 1px solid #dae0e4;
//         border-radius: 2px;
//         .select2-search-choice {
//             background-color: #e8edf1;
//             background-image: none;
//             border: none;
//             box-shadow: none;
//             color: inherit;
//             border-radius: 8px;
//             margin: 8px -5px 7px 10px;
//             padding: 4px 8px 4px 21px;
//             direction: ltr;
//         }
//     }
//     &.select2-container-active {
//         .select2-choices {
//             border: 1px solid #dae0e4;
//             box-shadow: none;
//         }
//         .select2-search-choice {
//             background-color: $brand-white !important;
//         }
//     }
//     .select2-search-choice-close {
//         left: 6px;
//     }
// }
// .select2-search-choice-close {
//     background: none;
//     top: 4px;
//     right: 0;
//     &:hover {
//         text-decoration: none;
//     }
//     &:before {
//         font-family: 'FontAwesome';
//         content: "\f00d";
//         font-size: 12px;
//         color: #94a1b2;
//     }
// }
// .select2-drop-multi .select2-results .select2-no-results,
// .select2-drop-multi .select2-results .select2-searching,
// .select2-drop-multi .select2-results .select2-selection-limit {
//     top: 0px;
// }
// .select2 {
//     &.form-control {
//         padding: 0;
//         box-shadow: none;
//         border: 0;
//     }
// }
// .select2-drop-multi {
//     ul.select2-results {
//         li.select2-results-dept-0 {
//             div.select2-result-label {
//                 display: inline-block;
//                 width: 100%;
//             }
//             ul {
//                 li {
//                     div.select2-result-label {
//                         background-color: #ccc;
//                         float: left;
//                         width: auto;
//                         padding: 5px 10px;
//                         margin: 5px;
//                         border-radius: 5px;
//                     }
//                 }
//             }
//         }
//     }
// }
.input-append .add-on:last-child,
.input-append .btn-group:last-child > .dropdown-toggle,
.input-append .btn:last-child {
    border-radius: 0 2px 2px 0;
}

.input-prepend .btn:first-child,
.input-prepend.inside .add-on:first-child {
    background-color: $brand-white;
    border          : 1px solid #e5e9ec;
    position        : relative;
    left            : 3px;
    border-radius   : 2px;
    padding-left    : 8px;
    padding-right   : 4px;
    padding-top     : 4px;
    top             : 0;
    transition      : border .2s linear 0s, box-shadow .2s linear 0s, color .2s linear 0s, box-shadow .2s linear 0s, background .2s linear 0s;
    color           : #9ea9b2;
}

.input-prepend.inside.no-boarder .add-on:first-child,
.input-prepend.no-boarder .btn:first-child {
    border: none;
}

.input-append .add-on,
.input-prepend .add-on {
    position        : absolute;
    background-color: $brand-gray;
    color           : #5E5E5E;
    text-shadow     : none;
    border          : $brand-gray;
    border-radius   : 0 2px 2px 0;
    height          : 37px;
    min-width       : 34px;
    padding-right   : 10px;
    padding-left    : 10px;
    padding-top     : 6px;
}

.input-append {
    .add-on {
        .arrow {
            background-color: transparent !important;
            position        : absolute;
            left            : -6px;
            color           : $brand-gray;
            z-index         : 100;
            font-size       : 26px;

            &:before {
                font-family: 'FontAwesome';
                content    : '\f0d9 ';
            }
        }
    }

    &.primary {
        .add-on {
            .arrow {
                color: $brand-primary;
            }
        }
    }

    &.success {
        .add-on {
            .arrow {
                color: $brand-primary-dark;
            }
        }
    }

    &.info {
        .add-on {
            .arrow {
                color: $brand-info;
            }
        }
    }

    &.warning {
        .add-on {
            .arrow {
                color: $brand-warning;
            }
        }
    }

    &.danger {
        .add-on {
            .arrow {
                color: $brand-danger;
            }
        }
    }

    input[class*="span"] {
        padding-left                      : 16px;
        border-right                      : 0;
        -webkit-border-radius             : 2px;
        -webkit-border-top-right-radius   : 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius                : 2px;
        -moz-border-radius-topright       : 0;
        -moz-border-radius-bottomright    : 0;
        border-radius                     : 2px;
        border-top-right-radius           : 0;
        border-bottom-right-radius        : 0;
    }

    .form-control {
        display: inline-block;
    }
}

.input-append.primary .add-on,
.input-prepend .add-on {
    background-color: $brand-primary;
    color           : $brand-white;
}

.input-append.success .add-on,
.input-prepend .add-on {
    background-color: $brand-primary-dark;
    color           : $brand-white;
    display         : inline-block;
    float           : left;
}

.input-append.info .add-on,
.input-prepend .add-on {
    background-color: $brand-info;
    color           : $brand-white;
}

.input-append.warning .add-on,
.input-prepend .add-on {
    background-color: $brand-warning;
    color           : $brand-white;
}

.input-append.danger .add-on,
.input-prepend .add-on {
    background-color: $brand-danger;
    color           : $brand-white;
}

.input-focus {
    background-color: #f4f5f7 !important;
    color           : #56646e !important;
}

.no-boarder {
    .input-focus {
        border: none !important;
    }
}

.input-prepend {
    input[class*="span"] {
        padding-left                     : 16px;
        border-left                      : 0;
        -webkit-border-radius            : 2px;
        -webkit-border-top-left-radius   : 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius               : 2px;
        -moz-border-radius-topleft       : 0;
        -moz-border-radius-bottomleft    : 0;
        border-radius                    : 2px;
        border-top-left-radius           : 0;
        border-bottom-left-radius        : 0;
    }
}

.input-with-icon {
    position: relative;

    input {
        padding-left: 32px !important;
    }

    i {
        color     : #e5e9ec;
        display   : block;
        position  : absolute;
        margin    : 9px 2px 4px 10px;
        width     : 16px;
        height    : 16px;
        font-size : 16px;
        text-align: center;
    }

    &.right {
        input {
            padding-left : 12px !important;
            padding-right: 33px !important;
        }

        i {
            right: 8px;
            float: right;
        }
    }
}

.input-group-addon {
    border          : 1px solid $input-border;
    color           : $input-color;
    font-size       : 14px;
    padding         : $input-padding;
    border-radius   : $input-border-radius;
    background-color: $input-focus-background-color;
    @include transition($transition-all);

    i {
        position: relative;
        top     : 1px;
    }

    &.primary {
        background-color: $brand-primary;
        border          : 1px solid $brand-primary;
        color           : $brand-white;
        background-color: $brand-primary;
        border          : 1px solid $brand-primary;
        color           : $brand-white;

        .arrow {
            color: $brand-primary;
        }
    }

    &.success {
        background-color: $brand-primary-dark;
        color           : $brand-white;

        .arrow {
            color: $brand-primary-dark;
        }
    }

    &.info {
        background-color: #1f3853;
        color           : $brand-white;

        .arrow {
            color: #1f3853;
        }
    }

    &.warning {
        background-color: #fbb05e;
        color           : $brand-white;
        background-color: #fbb05e;
        color           : $brand-white;

        .arrow {
            color: #fbb05e;
        }
    }

    &.danger {
        background-color: #f35958;
        color           : $brand-white;

        .arrow {
            color: #f35958;
        }
    }

    .arrow {
        position: relative;
        right   : -6px;
        color   : $input-border;
        z-index : 100;

        &:before {
            font-family: 'FontAwesome';
            content    : '\f0da';
            font-size  : 23px;
            position   : absolute;
            left       : 25px;
            top        : -2px;
        }
    }

    &:last-child {
        .arrow {
            &:before {
                font-family: 'FontAwesome';
                content    : '\f0d9';
                font-size  : 23px;
                position   : absolute;
                left       : -25px;
                top        : -2px;
            }
        }

        input {
            border-left: 0;
        }
    }
}

.form-group.focused {
    .input-group-addon {
        border-color    : $input-focus-border-color;
        color           : $input-color;
        font-size       : 14px;
        padding         : $input-padding;
        border-radius   : $input-border-radius;
        background-color: $input-focus-background-color;

        .arrow {
            color: $input-focus-border-color;
        }
    }
}

.transparent {
    .input-group-addon {
        background-color: $brand-white;
        padding         : 8px 1px 10px 9px;
    }
}

.transparent .input-group-addon:first-child,
.transparent .input-group-btn:first-child > .btn,
.transparent .input-group-btn:first-child > .dropdown-toggle,
.transparent .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.transparent.input-group .form-control:first-child {
    border-right: 0;
    border-left : 1px solid #e5e9ec;
}

.transparent .input-group .form-control:last-child,
.transparent .input-group-addon:last-child,
.transparent .input-group-btn:first-child > .btn:not(:first-child),
.transparent .input-group-btn:last-child > .btn,
.transparent .input-group-btn:last-child > .dropdown-toggle {
    padding: 6px 10px;
}

.datepicker {
    // padding: 10px 16px;
    // border-radius: 2px;
    // font-size: 12px;
    thead {
        tr {
            .datepicker-switch {
                color           : $brand-white;
                background-color: $brand-info;
                font-size       : 13px;
                @include transition($transition-all);

                &:hover {
                    color     : $brand-white;
                    background: mix($brand-info, $brand-primary-black-overlay) !important;
                }
            }

            .prev {
                color    : $brand-info;
                content  : '';
                font-size: 0;
                @include transition($transition-all);

                &:before {
                    color      : $brand-info;
                    font-family: 'FontAwesome';
                    content    : '\f053';
                    font-size  : 13px;
                }

                &:hover {
                    color     : mix($brand-info, $brand-primary-black-overlay) !important;
                    background: $input-focus-border-color !important;
                }
            }

            .next {
                color    : $brand-info;
                content  : '';
                font-size: 0;
                @include transition($transition-all);

                &:before {
                    color      : $brand-info;
                    font-family: 'FontAwesome';
                    content    : '\f054';
                    font-size  : 13px;
                }

                &:hover {
                    color     : mix($brand-info, $brand-primary-black-overlay) !important;
                    background: $input-focus-border-color !important;
                }
            }

            .dow {
                color         : $brand-dark;
                text-transform: uppercase;
                font-size     : 11px;
            }
        }
    }

    tbody {
        tr {
            .odd {
                color: $brand-white;
            }
        }
    }

    table {
        tr {
            td {
                &.day {
                    &:hover {
                        background: $brand-light;
                        opacity   : .65;
                    }
                }

                span {
                    border-radius: $border-radius-base;
                }
            }
        }
    }
}

.datepicker td,
.datepicker th {
    padding: 5.5px !important;
}

.datepicker table tr td.new,
.datepicker table tr td.old {
    color: #d0d3d8;
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
    background-image: none;
    text-shadow     : none;
    font-weight     : 600;
}

.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
    background-color: #e5e9ec;
    background-image: none;
    color           : $brand-white;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.active:hover,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled.disabled:hover,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled[disabled]:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active[disabled]:hover {
    background-color: $brand-primary;
}

.datepicker table tr td span.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover {
    background-image: none;
    border          : none;
    text-shadow     : none;
}

.datepicker table tr td span.active.active,
.datepicker table tr td span.active.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled.active:hover,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled.disabled:hover,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled[disabled]:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active[disabled]:hover {
    background-color: $brand-primary;
}

.datepicker-inline {
    width: auto;
}

.error {
    font-size: 12px;
    color    : $brand-danger;
    display  : block;
}

.error-control {
    input {
        border: 1px solid $brand-danger;
    }

    select {
        border: 1px solid $brand-danger;
    }

    textarea {
        border: 1px solid $brand-danger;
    }

    .select2-container .select2-choice {
        border: 1px solid $brand-danger;
    }

    &.input-with-icon {
        .select2-container {
            .select2-choice {
                .select2-arrow b:before {
                    content: '\f12a';
                    color  : $brand-danger;
                }
            }
        }
    }

    &.input-with-icon {
        .select2-container {
            .select2-choice {
                .select2-arrow b {
                    -webkit-transform: scale(1, 1);
                    -moz-transform   : scale(1, 1);
                    -ms-transform    : scale(1, 1);
                    -o-transform     : scale(1, 1);
                    transform        : scale(1, 1);
                }
            }
        }
    }

    i {
        color: $brand-danger;
    }
}

.success-control {
    input {
        border: 1px solid $brand-green;
    }

    select {
        border: 1px solid $brand-green;
    }

    textarea {
        border: 1px solid $brand-green;
    }

    .select2-container .select2-choice {
        border: 1px solid $brand-green;
    }

    &.input-with-icon {
        .select2-container {
            .select2-choice {
                .select2-arrow b:before {
                    content: '\f00c';
                    color  : $brand-green;
                }
            }
        }
    }

    &.input-with-icon {
        .select2-container {
            .select2-choice {
                .select2-arrow b {
                    -webkit-transform: scale(1, 1);
                    -moz-transform   : scale(1, 1);
                    -ms-transform    : scale(1, 1);
                    -o-transform     : scale(1, 1);
                    transform        : scale(1, 1);
                }
            }
        }
    }

    i {
        color: $brand-green;
    }
}

.clockpicker-popover.popover,
.datepicker {
    border-radius: $border-radius-base !important;
    border       : solid 1px $input-border !important;
    box-shadow   : 0 1px 2px rgba(0, 0, 0, 0.13) !important;
}

.clockpicker-popover.popover.top .arrow,
.datepicker-dropdown:before {
    display: none !important;
}

.datepicker-dropdown:after {
    display: none !important;
}

.input-group {
    .bootstrap-tagsinput {
        border-radius: $input-border-radius 0 0 $input-border-radius;
    }
}
