.wow {
    visibility: hidden;
}

html {
    font-size: 100%;
    height   : 100%;
}

body {
    direction  : ltr;
    font-style : normal;
    font-weight: 200;
    height     : 100%;
    @if $fixed-header==true {
        padding-top: $navbar-height;
        @at-root html.logged_in body {
            padding-top: ($admin-bar-height + $navbar-height);
        }
    }
}
// @if $theme-shade==default {
//     .main-section {
//         opacity: .25;
//     }
// }
// @else if $theme-shade==dark {}
// @else {}

.power-by-ai-logo {
    display: none;
    @if $power-by-logo==dark {
        &.dark {
            display: inline-block;
        }
    }
    @if $power-by-logo==light {
        &.light {
            display: inline-block;
        }
    }
}

.main-section {
    padding : $section-padding 0;
    position: relative;
    z-index : initial;
    @media (max-width: $screen-sm-min) {
        padding: ($section-padding / 2) 0;
    }
    &:nth-child(odd) {
        background: $section-bg;
        border-top: solid 1px darken($section-bg, 10%);
    }
    &:nth-child(even) {
        background: $section-bg-alt;
        border-top: solid 1px darken($section-bg-alt, 10%);
    }
    &:first-of-type {
        border-top: none !important;
    }

    &.section-1 {
        border-top: none !important;
        z-index   : 6;
    }
    &.section-2 {
        z-index: 5;
    }
    &.section-3 {
        z-index: 4;
    }
    &.section-4 {
        z-index: 3;
    }
    &.section-5 {
        z-index: 2;
    }
    &.section-6 {
        z-index: 1;
    }
}

.footer-section {
    padding: ($grid-gutter-width + 10) 0;
    color  : $footer-text;

    a {
        color: $footer-links;
        &:hover {
            color: darken($footer-links,15%);
        }
    }
}

.footer-section-dark {
    color: $brand-dark;
}

.disclaimer-content {
    p {
        font-size : 85%;
        text-align: justify;
    }
}

#menu-footer {
    background: darken($footer-bg , 0%);
}

#main-footer {
    background: darken($footer-bg , 5%);
}

#power-by-footer {
    background: darken($footer-bg, 10%);
}

.ratio {
    position: relative;
    &:before {
        content    : '';
        display    : block;
        padding-top: 100%;
        // initial ratio of 1:1
    }
    &.ratio2_1:before {
        padding-top: 50%;
    }
    &.ratio1_2:before {
        padding-top: 200%;
    }
    &.ratio4_3:before {
        padding-top: 75%;
    }
    &.ratio16_9:before {
        padding-top: 56.25%;
    }

    &.thumb {
        img {
            width : 100%;
            height: 100%;
        }
        &:before {
            padding-top: 66%;
        }
    }

    .content {
        position: absolute;
        top     : 0;
        left    : 0;
        bottom  : 0;
        right   : 0;
    }
}
.img-rounded {
    border-radius: $border-radius-base;
}
@mixin loop-core-items($slug,$item,$count,$loop-count) {
    $core-loop-count: $loop-count !default;
    $loop-count     : 0;
    @for $i from 0 through $count {
        .#{$slug}-#{$loop-count} {
            #{$item}: #{$loop-count}px !important;
        }
        .#{$slug}-t-#{$loop-count} {
            #{$item}-top: #{$loop-count}px !important;
        }

        .#{$slug}-b-#{$loop-count} {
            #{$item}-bottom: #{$loop-count}px !important;
        }

        .#{$slug}-r-#{$loop-count} {
            #{$item}-right: #{$loop-count}px !important;
        }

        .#{$slug}-l-#{$loop-count} {
            #{$item}-left: #{$loop-count}px !important;
        }
        $loop-count: $loop-count + $core-loop-count;
    }
}
@include loop-core-items( 'm','margin', 10, 5);
@include loop-core-items( 'p','padding', 10, 5);

.lazy-wrap {
    background: $loader-bg;
    .lazy-preloader {
        opacity                 : .5;
        width                   : 50px;
        height                  : 50px;
        position                : absolute;
        left                    : 50%;
        top                     : 50%;
        margin-left             : -25px;
        margin-top              : -25px;
        z-index                 : 10;
        -webkit-transform-origin: 50%;
        -moz-transform-origin   : 50%;
        transform-origin        : 50%;
        display                 : block;
        border                  : solid 5px transparent;
        border-top-color        : $loader-border;
        border-left-color       : $loader-border;
        border-radius           : 100%;
        @include animation($load-spinner);
    }

    .lazy-content {
        z-index: 20;
    }
}

.admin-bar {
    position   : fixed;
    z-index    : 1035;
    left       : 0;
    right      : 0;
    top        : 0;
    height     : $admin-bar-height;
    line-height: auto;
    background : $admin-bar-bg;

    a {
        color        : $admin-bar-color;
        background   : darken($admin-bar-bg,5%);
        padding      : 5px 10px;
        font-family  : 'Arial', sans-serif;
        font-size    : 13px;
        font-weight  : 300;
        border-radius: 3px;
        border       : solid 1px darken($admin-bar-bg,7%);
        &:focus,
        &:hover {
            color     : darken($admin-bar-color,7%);
            background: darken($admin-bar-bg,7%);
            border    : solid 1px darken($admin-bar-bg,7%);
        }

        &.admin-dash {
            background: darken($admin-bar-color,5%);
            color     : darken($admin-bar-bg,5%);
            border    : solid 1px darken($admin-bar-color,7%);
            opacity   : .9;
            &:hover {
                opacity: 1;
            }
        }

        &.admin-action {
            background: darken($admin-bar-action-color ,5%);
            border    : solid 1px darken($admin-bar-action-color ,7%);
            opacity   : .9;
            &:hover {
                opacity: 1;
            }
        }
    }
    // @media (max-width: $screen-sm) {
    //     display: none;
    // }
}

.nav-tabs {
    border-bottom: 1px solid $nav-tabs-border-color;

    li {
        a {
            color  : $nav-tabs-link-color;
            opacity: .75;
            @include transition(all $transition-speed $transition-type);
            &:hover {
                color       : darken($nav-tabs-link-color,15%);
                border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
            }
            &:hover {
                border-bottom-color: transparent;
            }
        }

        &.active {
            a {
                opacity            : 1;
                color              : $nav-tabs-active-link-color;
                background-color   : $nav-tab-bg;
                border             : 1px solid $nav-tabs-border-color;
                border-bottom-color: transparent;
                &:hover {
                    color: darken($nav-tabs-active-link-color,15%);
                }
            }
        }
    }
}
.page-title-section {
    &.bg-image {
        min-height             : 250px;
        position               : relative;
        -webkit-background-size: cover;
        -moz-background-size   : cover;
        -o-background-size     : cover;
        background-size        : cover;
        background-position    : top center;
        .page-title-content {
            padding-top     : 20px;
            background-color: $brand-main;
            background-color: rgba($brand-main,.75);
            color           : $brand-invert;
            position        : absolute;
            left            : 0;
            right           : 0;
            bottom          : 0;
        }
        .section-heading,
        .section-heading small {
            color: $brand-invert;

        }
    }

}

.img-thumbnail {
    background-color: $brand-white;
    border          : 1px solid darken($brand-white,15%);

}
#client-status-alert {
    position: fixed;
    top     : 10px;
    left    : 10px;
    right   : 10px;
    .section-heading,
    p {
        margin-bottom: 10px;
    }
}
.social-share {
    position: fixed;
    z-index : 10000;
    padding : 0;
    margin  : 0;
    display : block;
    // background: yellow;
    @media (min-width: $screen-sm) {
        // background: blue;
        top : $navbar-height + 25;
        left: 0;
        .list-group {
            border-radius: 0 $border-radius-base $border-radius-base 0;
            @include box-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
            li {
                a {
                    width     : 35px;
                    font-size : 15px !important;
                    padding   : 10px !important;
                    text-align: left !important;
                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
    @media (max-width: $screen-sm) {
        background       : green;
        position         : fixed;
        width            : 100%;
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform        : translate3d(0px, 0px, 0px);
        bottom           : 0;
        left             : 0;
        right            : 0;
        margin-bottom    : 0;
        border-radius    : 0 !important;
        .list-group {
            @include box-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
            li {
                float        : left;
                width        : 16.6666670%;
                text-align   : center;
                border-radius: 0 !important;
                a {
                    width        : 100% !important;
                    border-radius: 0 !important;
                }
            }
        }
    }
    .list-group {
        li {
            background   : $brand-white;
            border       : none;
            padding      : 0;
            margin-bottom: 0;
            a {
                font-size  : 20px;
                color      : $brand-white;
                background : $brand-dark;
                display    : inline-block;

                text-align : center;
                padding    : 15px;
                line-height: 1;
                @include transition($transition-opacity);

                &.facebook {
                    border-radius: 0 $border-radius-base 0 0;
                }
                &.pinterest {
                    border-radius: 0 0 $border-radius-base 0;
                }
                &.facebook {
                    background: $facebook-main;
                }
                &.linkedin {
                    background: $linkedin-main;
                }
                &.google {
                    background: $googleplus-main;
                }
                &.pocket {
                    background: $pocket-main;
                }
                &.twitter {
                    background: $twitter-main;
                }
                &.pinterest {
                    background: $pinterest-main;
                }
                @media (min-width: $screen-sm) {
                    opacity: 1;
                    &:hover {
                        opacity: .75;
                    }

                }
            }
        }
        .tooltip {
            white-space: nowrap;
        }
    }

}
.static-content {

    img {
        max-width: 100%;
    }
}
