@mixin bg-grade-inverse($count, $base-name, $bg-color, $font-color) {
    $loop_color: $bg-color;
    @for $i from 0 through $count {
        $loop_color: darken($loop_color, 2%);

        .#{$base-name}-#{$i} {
            background-color: $loop_color;
            color           : $font-color;
        }
    }
}
@mixin bg-grade-light($count, $base-name, $bg-color, $font-color) {
    $loop_color: $bg-color;
    @for $i from 0 through $count {
        $loop_color: darken($loop_color, 2%);

        .#{$base-name}-#{$i} {
            background-color: $loop_color;
            color           : $font-color;
        }
    }
}
@mixin transform($transformation) {
    -webkit-transform: $transformation;
    -moz-transform   : $transformation;
    -ms-transform    : $transformation;
    -o-transform     : $transformation;
    transform        : $transformation;
}
@mixin keyframes($name) {
     @-webkit-keyframes #{$name}{
        @content;
    }
    @-moz-keyframes #{$name} {
         @content;
    }
    @-ms-keyframes #{$name} {
         @content;
    }
    @keyframes #{$name} {
         @content;
    }
}
@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation   : $animation;
    -ms-animation    : $animation;
    -o-animation     : $animation;
    animation        : $animation;
}
@mixin filter($filter) {
    -webkit-filter: $filter;
    -moz-filter: $filter;
    -ms-filter: $filter;
    -o-filter: $filter;
    filter: $filter;
}
@include keyframes(load-spinner) {
    0% {
        -webkit-transform: rotate(0deg);
        transform        : rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform        : rotate(360deg);
    }
}
$load-spinner: load-spinner 400ms linear infinite;
@include keyframes(bouncer-animation) {
    60%,
    75%,
    90%,
    from,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        transform: translate3d(0, 10px, 0);
    }

    60% {
        transform: translate3d(0, 5px, 0);
    }

    75% {
        transform: translate3d(0, 20px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: translate3d(0, 10px, 0);
    }
}
$bouncer-animation: bouncer-animation 1500ms linear infinite;
@include keyframes(font-sizer) {
    0% {
        font-size: 75%;
    }

    50% {
        font-size: 100%;
    }

    100% {
        font-size: 75%;
    }
}
