html.local {
    // &:before {
    //     position: fixed;
    //     z-index: 10000;
    //     bottom: 0;
    //     right: 0;
    //     padding: 5px 5px;
    //     color: $brand-white;
    //     @media (max-width: $screen-xs) {
    //         background: $brand-red;
    //         content: "$screen-xs: upto #{$screen-xs}"
    //     }
    //     @media (min-width: $screen-xs-min) {
    //         background: $brand-blue;
    //         content: "$screen-sm: #{$screen-xs-min} - #{$screen-xs-max}"
    //     }
    //     @media (min-width: $screen-sm-min) {
    //         background: $brand-purple;
    //         content: "$screen-md: #{$screen-sm-min} - #{$screen-sm-max}"
    //     }
    //     @media (min-width: $screen-md-min) {
    //         background: $brand-green;
    //         content: "$screen-lg: #{$screen-md-min} - #{$screen-md-max}"
    //     }
    //     @media (min-width: $screen-lg-min) {
    //         background: $brand-yellow;
    //         content: "$screen-xlg: #{$screen-lg-min} - #{$screen-lg-max}"
    //     }
    //     @media (min-width: $screen-xlg-min) {
    //         background: $brand-orange;
    //         content: "$screen-xlg: over #{$screen-xlg}"
    //     }
    // }
}

.container {
    @include container-fixed;
    @media (min-width: $screen-sm-min) {
        // width: $container-sm;
        width: 95%;
    }
    @media (min-width: $screen-md-min) {
        // width: $container-md;
        width: 95%;
    }
    @media (min-width: $screen-lg-min) {
        // width: $container-lg;
        width    : 95%;
        max-width: $screen-lg-max;
    }
}
