#slider-content {
    width: 100%;
    .content {
        -webkit-background-size: cover;
        -moz-background-size   : cover;
        -o-background-size     : cover;
        background-size        : cover;
        background-position    : 50%;
        background-repeat      : no-repeat;
    }
    // .swiper-slide {
    //     .slider-content {
    //         background-color: $brand-dark;
    //         background-color: rgba($brand-dark, .70);
    //         color           : $brand-white;
    //         position        : absolute;
    //         bottom          : 0;
    //         left            : 0;
    //         right           : 0;
    //         text-align      : left;
    //         padding         : $section-padding 0 ($section-padding * 2);
    //         .section-heading {
    //             color: $brand-white;
    //             small {
    //                 color: $brand-white;
    //             }
    //         }
    //     }
    // }
}

#parallax-content {
    width: 100%;
    .parallax-bg {
        position               : absolute;
        left                   : 0;
        top                    : 0;
        height                 : 100%;
        -webkit-background-size: cover;
        background-size        : cover;
        background-position    : center;
    }
    .swiper-slide {
        font-size         : 18px;
        color             : #fff;
        -webkit-box-sizing: border-box;
        box-sizing        : border-box;
        padding           : 40px 60px;
        background        : transparent;
        // .slider-content {
        //     background-color: $brand-dark;
        //     background-color: rgba($brand-dark, .70);
        //     color           : $brand-white;
        //     position        : absolute;
        //     bottom          : 0;
        //     left            : 0;
        //     right           : 0;
        //     text-align      : left;
        //     padding         : $section-padding 0 ($section-padding * 2);
        //     .section-heading {
        //         color: $brand-white;
        //         small {
        //             color: $brand-white;
        //         }
        //     }
        // }
    }

}
#slider-idx {

    width: 100%;
    position: relative;

    .content {
        -webkit-background-size: cover;
        -moz-background-size   : cover;
        -o-background-size     : cover;
        background-size        : cover;
        background-position    : 50%;
        background-repeat      : no-repeat;
    }

    .search-form-bg-section {
        @include box-shadow($box-shadow-blurry);
        top       : 50%;
        margin-top: -127px;

        .search-form-wrapper {
            max-width : 800px;
            width: 85%;
            margin: auto;
            .search-form {
                .btn-group,
                .type-search-item {
                    display: none;
                }
                .input-group {
                    @include box-shadow($box-shadow-blurry);
                }
            }
            .section-heading {
                color      : $brand-white;
                text-shadow: 0 5px 8px rgba(0,0,0,0.15);
                small {
                    color: $brand-white;
                }
            }
            small {
                a {
                    color: $brand-white;
                }
            }

        }
        @media (max-width: $screen-sm-min) {
            margin-top: -125px;
        }
    }
}

#index-slider-listings {
    padding-top: 0;
    overflow   : hidden;
    max-width  : 100%;
    .swiper-container {
        width     : 100%;
        min-height: 100px;
        overflow  : visible;
        .swiper-wrapper {
            margin: 20px auto;
        }
        .swiper-slide {
            width    : 100%;
            max-width: $screen-md;
            @media (max-width: $screen-sm-min) {
                width     : 100% !important;
                box-shadow: none;
            }
            display  : -webkit-box;
            display  : -ms-flexbox;
            display  : -webkit-flex;
            display  : flex;

            img {
                width: 100%;
            }

            /* Microsoft Edge Browser 12+ (All) - one-liner method */
            _:-ms-lang(x), _:-webkit-full-screen, img { position: relative; }

            @include box-shadow($box-shadow-blurry);
        }
        .content-box {
            padding: $section-padding;

            .title {
                font-weight: 600;
                font-size  : 30px;
                line-height: 1.25;
            }
            ul {
                margin-bottom: 0;
            }
        }
    }
    @media (max-width: $screen-sm-min) {
        padding: 0;
        width  : 100%;

        .container {
            padding: 0;
        }
        .image-nav {
            display: none;
        }
        .swiper-container {
            .swiper-wrapper {
                margin: 0;
            }
            .content-box {
                padding: 10px;

                .title {
                    font-size: 20px;
                }
                li.status {
                    padding-left: 5px;

                }
                li.details {
                    font-size: 15px;
                }
            }

        }

    }
}

.featured-content-overlay {
    background-color: $featured-content-overlay-bg;
    background-color: rgba($featured-content-overlay-bg, $featured-content-overlay-opacity);
    color           : $featured-content-overlay-color;
    position        : absolute;
    z-index         : 1;
    left            : 0;
    right           : 0;
    text-align      : left;
    padding         : $section-padding 0 ($section-padding * 2);
    &.bottom {
        bottom: 0;
    }
    &.top {
        top: 0;
    }
    &.middle {
        top: 50%;
    }
    .section-heading {
        color: $brand-white;
        small {
            color: $brand-white;
        }
    }
}
.img-bg-cover {
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
    background-position    : 50%;
    background-repeat      : no-repeat;
}
