@import "../../modules/core/mixins"; //
//------------------------------------------------------------------------------------------------------------------
// START FALLBACK COLORS (If a color-kit is not choosen.)
//
$brand-white                                : #ffffff !default;
$brand-black                                : #222222 !default;
$brand-gray                                 : mix($brand-black,$brand-white, 50%) !default; // #a7a7a7
$brand-primary                              : #0275d8 !default;
$brand-green                                : #35b084 !default;
$brand-blue                                 : #235f92 !default;
$brand-orange                               : #bf842d !default;
$brand-red                                  : #bf3f36 !default;
$brand-yellow                               : #a59b43 !default;
$brand-purple                               : #6a5094 !default;
//------------------------------------------------------------------------------------------------------------------
// START BOOTSTRAP COLORS
//
$gray-base                                  : mix($brand-black,$brand-white, 10%) !default; // #000000
$gray-darker                                : lighten($gray-base, 13.5%) !default; // #222222
$gray-dark                                  : lighten($gray-base, 20%) !default; // #333333
$gray                                       : lighten($gray-base, 33.5%) !default; // #555555
$gray-light                                 : lighten($gray-base, 46.7%) !default; // #777777
$gray-lighter                               : lighten($gray-base, 93.5%) !default; // #eeeeee
$brand-primary                              : $brand-primary !default; // #337ab7
$brand-success                              : $brand-green !default; // #5cb85c
$brand-info                                 : $brand-blue !default; // #5bc0de
$brand-warning                              : $brand-orange !default; // #f0ad4e
$brand-danger                               : $brand-red !default; // #d9534f
//------------------------------------------------------------------------------------------------------------------
// SOCIAL COLORS via: https://brandcolors.net/
//
$facebook-main                              : #3b5998 !default;
$linkedin-main                              : #0077b5 !default;
$googleplus-main                            : #dd4b39 !default;
$youtube-main                               : #cd201f !default;
$instagram-main                             : #405de6 !default;
$twitter-main                               : #1da1f2 !default;
$zillow-main                                : #1277e1 !default;
$houzz-main                                 : #7ac142 !default;
$vimeo-main                                 : #1ab7ea !default;
$pinterest-main                             : #bd081c !default;
$pocket-main                                : #ef4056 !default;

//------------------------------------------------------------------------------------------------------------------
// START BASIC COLORS MIX'S
$brand-dark                                 : mix($brand-primary, $brand-black, $weight:35%) !default;
$brand-light                                : mix($brand-primary, $brand-white, $weight:10%) !default;
$brand-off-white                            : lighten($brand-light, 15%) !default;
$brand-main                                 : $brand-dark !default;
$brand-invert                               : $brand-light !default;
$component-bg                               : mix($brand-gray, $brand-white,15%) !default;
$component-header-bg                        : darken($component-bg, 10%) !default;
$component-border-color                     : darken($component-bg, 15%) !default;
$component-active-color                     : $brand-white !default;
$component-active-bg                        : $brand-primary !default;

$loader-bg                                  : $brand-main !default;
$loader-border                              : $brand-invert !default;
//------------------------------------------------------------------------------------------------------------------
// START COLOR SHADE MIX'S
//
$brand-primary-dark                         : darken($brand-primary, 20%) !default;
$brand-primary-light                        : lighten($brand-primary, 20%) !default;
$brand-primary-inverse                      : invert($brand-primary) !default; //
//------------------------------------------------------------------------------------------------------------------
$brand-gray-dark                            : darken($brand-gray, 20%) !default;
$brand-gray-light                           : lighten($brand-gray, 2%) !default;
$brand-gray-inverse                         : invert($brand-gray) !default; //
//------------------------------------------------------------------------------------------------------------------
$brand-success-dark                         : darken($brand-success, 20%) !default;
$brand-success-light                        : lighten($brand-success, 20%) !default;
$brand-success-inverse                      : invert($brand-success) !default; //
//------------------------------------------------------------------------------------------------------------------
$brand-danger-dark                          : darken($brand-danger, 20%) !default;
$brand-danger-light                         : lighten($brand-danger, 20%) !default;
$brand-danger-inverse                       : invert($brand-danger) !default; //
//------------------------------------------------------------------------------------------------------------------
$brand-warning-dark                         : darken($brand-warning, 20%) !default;
$brand-warning-light                        : lighten($brand-warning, 20%) !default;
$brand-danger-inverse                       : invert($brand-danger) !default; //
//------------------------------------------------------------------------------------------------------------------
$brand-info-dark                            : darken($brand-info, 20%) !default;
$brand-info-light                           : lighten($brand-info, 20%) !default;
$brand-info-inverse                         : invert($brand-info) !default; //
//
//------------------------------------------------------------------------------------------------------------------
// MISC CORE ITEMS
//
$base-img-url                               : 'img' !default;
$power-by-logo                              : light !default; // dark or light
$body-bg                                    : $brand-white !default;
$border-radius-base                         : 3px !default;
$border-radius-large                        : 6px !default;
$border-radius-small                        : 1px !default;
$grid-gutter-width                          : 30px !default;
$box-shadow                                 : 0 0 1px rgba(0,0,0, 0.2) !default;
$component-box-shadow                       : 0 1px 2px rgba(0,0,0, 0.2) !default; // $box-shadow !default;
$box-shadow-blurry                          : 0 5px 8px rgba(0,0,0,0.15) !default;
$section-padding                            : $grid-gutter-width !default;
//------------------------------------------------------------------------------------------------------------------
// START TEST, TYPO & FONTS
//
$font-family-sans-serif                     : 'Source Sans Pro',sans-serif !default;
$font-family-serif                          : Georgia, "Times New Roman", Times, serif !default;
$font-family-base                           : $font-family-sans-serif !default;
$font-family-sans-serif-two                 : $font-family-sans-serif !default;

$h-tags                                     : '.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6' !default;

$font-size-base                             : 18px !default;
$line-height-base                           : 1.75 !default;
$link-decoration                            : none !default;
$link-hover-decoration                      : none !default;
$header-color                               : mix($brand-gray,$brand-black) !default;
$header-small-color                         : lighten($header-color,15%) !default;
$text-color                                 : mix($brand-black,$header-color) !default;
$link-color                                 : $brand-primary !default;
$link-hover-color                           : darken($link-color, 15%) !default;
//------------------------------------------------------------------------------------------------------------------
// SECTION AND FOOTER ITEMS
//
$featured-content-overlay-bg                : $brand-dark !default;
$featured-content-overlay-opacity           : .65 !default;
$featured-content-overlay-color             : $brand-white !default;

$section-bg                                 : mix($brand-gray, $brand-white, 25%) !default;
$section-bg-alt                             : darken($section-bg, 5%) !default;
$footer-bg                                  : $brand-dark !default;
$footer-text                                : $brand-light !default;
$footer-links                               : darken($footer-text , 20%) !default; //
//------------------------------------------------------------------------------------------------------------------
// START TRANSITIONS @include transition($transition-opacity );
//
$transition-speed                           : .20s !default;
$transition-type                            : linear !default;
$transition-all                             : all $transition-speed $transition-type !default;
$transition-opacity                         : opacity $transition-speed $transition-type !default;
$transition-type                            : ease-in-out !default;
$transition-duration-default                : .25s !default;
$transition-duration-medium                 : .5s !default;
$transition-duration-long                   : .75s !default; //
//------------------------------------------------------------------------------------------------------------------
// START SCREEN SIZES
//
$screen-xs                                  : 480px !default;
$screen-xs-min                              : $screen-xs !default;
$screen-phone                               : $screen-xs-min !default;
$screen-sm                                  : 768px !default;
$screen-sm-min                              : $screen-sm !default;
$screen-tablet                              : $screen-sm-min !default;
$screen-md                                  : 992px !default;
$screen-md-min                              : $screen-md !default;
$screen-desktop                             : $screen-md-min !default;
$screen-lg                                  : 1200px !default;
$screen-lg-min                              : $screen-lg !default;
$screen-lg-desktop                          : $screen-lg-min !default;
$screen-xlg                                 : 1600px !default;
$screen-xlg-min                             : $screen-xlg !default;
$screen-xlg-desktop                         : $screen-xlg-min !default;
$screen-xs-max                              : ($screen-sm-min - 1) !default;
$screen-sm-max                              : ($screen-md-min - 1) !default;
$screen-md-max                              : ($screen-lg-min - 1) !default;
$screen-lg-max                              : ($screen-xlg-min - 1) !default; //
//------------------------------------------------------------------------------------------------------------------
// START NAV & HEADER ITEMS
//
$fixed-header                               : true !default;
$head-shots-width                           : 75px !default;
$head-shots-radius                          : 100% !default;

$navbar-default-bg                          : $brand-white !default;
$navbar-default-color                       : $brand-dark !default;
$navbar-default-link-color                  : $brand-primary !default;

$navbar-default-font                        : $font-family-sans-serif-two !default;
$navbar-default-font-size                   : 16px !default;
$navbar-default-font-weight                 : 300 !default;

$navbar-default-link-hover-color            : darken($navbar-default-link-color, 2.5%) !default;
$navbar-default-link-active-color           : darken($navbar-default-link-hover-color, 2.5%) !default;
$navbar-default-link-disabled-color         : darken($navbar-default-link-hover-color, 2.5%) !default;
$navbar-height                              : 60px !default;
$navbar-font                                : $font-family-sans-serif-two !default;
$navbar-font-weight                         : 300 !default;
$navbar-default-color                       : $link-color !default; //
//------------------------------------------------------------------------------------------------------------------
// START FORM ITEMS
//

$input-color                                : darken($brand-gray, 25%) !default;
$input-bg                                   : mix($brand-white, $brand-gray, 95%) !default;
$input-border                               : darken($input-bg, 15%) !default;
$input-border-radius                        : $border-radius-base !default;
$input-padding                              : 10px !default;
$input-height                               : 40px !default;
$input-min-height                           : 40px !default;
$input-line-height                          : normal !default;
$input-font                                 : $font-family-sans-serif-two !default;
$input-font-size                            : 13px !default;
$input-font-weight                          : 300 !default;
$input-box-shadow                           : none !default;
$input-focus-color                          : darken($input-color , 10%) !default;
$input-focus-background-color               : darken($input-bg , 2%) !default;
$input-focus-border-color                   : darken($input-border , 10%) !default;
$input-focus-box-shadow                     : none!default; //
//------------------------------------------------------------------------------------------------------------------
// START BLOCKQUOTE ITEMS
// 
$blockquote-bg                              : $component-bg !default;
$blockquote-color                           : $text-color !default;
$blockquote-link-color                      : $link-color !default;
$blockquote-border-color                    : $component-border-color!default;
$blockquote-border-radius                   : $border-radius-base !default; //
//------------------------------------------------------------------------------------------------------------------
// START TAB ITEMS
//
$nav-tab-bg                                 : $component-bg !default;
$nav-tabs-link-color                        : $link-color !default;
$nav-tabs-border-color                      : $component-border-color!default;
$nav-tabs-link-hover-border-color           : $nav-tabs-border-color !default;
$nav-tabs-active-link-color                 : darken($nav-tabs-link-color ,15%) !default;
$nav-tabs-active-link-hover-bg              : $nav-tab-bg !default;
$nav-tabs-active-link-hover-color           : darken($nav-tabs-link-color,15%) !default;
$nav-tabs-active-link-hover-border-color    : $nav-tabs-border-color !default;
$nav-tabs-justified-link-border-color       : $nav-tabs-border-color !default;
$nav-tabs-justified-active-link-border-color: $nav-tabs-border-color !default; //
//------------------------------------------------------------------------------------------------------------------
// START PANEL ITEMS
//
$panel-bg                                   : $component-bg !default;
$panel-default-heading-bg                   : $component-header-bg !default;
$panel-heading-color                        : $header-color !default;
$panel-inner-border                         : transparent !default;
$panel-default-border                       : $component-border-color !default;
$panel-footer-bg                            : darken($panel-bg, 10%) !default;
$panel-body-padding                         : 20px !default;
$panel-heading-padding                      : 20px !default;
$panel-footer-padding                       : $panel-heading-padding !default;
$panel-border-radius                        : $border-radius-base !default; //
//------------------------------------------------------------------------------------------------------------------
// START BUTTONS ITEMS
//
$btn-hover-bg-percent                       : 5% !default;
$brand-primary-black-overlay                : $brand-gray-dark !default;

$btn-default-color                          : $text-color !default;
$btn-default-bg                             : mix($brand-white, $brand-gray, 50%) !default;
$btn-default-border                         : darken($btn-default-bg, $btn-hover-bg-percent) !default;

$btn-primary-color                          : $brand-invert !default;
$btn-primary-bg                             : mix($brand-white, $brand-primary, $weight:$btn-hover-bg-percent) !default;
$btn-primary-border                         : darken($btn-primary-bg, $btn-hover-bg-percent) !default;
$btn-info-color                             : $brand-white !default;
$btn-info-bg                                : mix($brand-white, $brand-info, $weight:$btn-hover-bg-percent) !default;
$btn-info-border                            : darken($btn-info-bg, $btn-hover-bg-percent) !default;
$btn-success-color                          : $brand-white !default;
$btn-success-bg                             : mix($brand-white, $brand-success, $weight:$btn-hover-bg-percent) !default;
$btn-success-border                         : darken($btn-success-bg, $btn-hover-bg-percent) !default;
$btn-warning-color                          : $brand-white !default;
$btn-warning-bg                             : mix($brand-white, $brand-warning, $weight:$btn-hover-bg-percent) !default;
$btn-warning-border                         : darken($btn-warning-bg, $btn-hover-bg-percent) !default;
$btn-danger-color                           : $brand-white !default;
$btn-danger-bg                              : mix($brand-white, $brand-danger, $weight:$btn-hover-bg-percent) !default;
$btn-danger-border                          : darken($btn-danger-bg, $btn-hover-bg-percent) !default;
//------------------------------------------------------------------------------------------------------------------
// START DROPDOWN ITEMS
//
$dropdown-bg                                : mix($brand-white, $brand-gray, 95%) !default;
$dropdown-border                            : darken($dropdown-bg , 5%) !default;
$dropdown-fallback-border                   : darken($dropdown-bg , 5%) !default;
$dropdown-divider-bg                        : darken($dropdown-bg , 5%) !default;
$dropdown-link-color                        : $link-color !default;
$dropdown-link-hover-color                  : darken($dropdown-link-color , 5%) !default;
$dropdown-link-hover-bg                     : #f5f5f5 !default;
$dropdown-link-active-color                 : $component-active-color !default;
$dropdown-link-active-bg                    : $component-active-bg !default;
$dropdown-link-disabled-color               : $gray-light !default;
$dropdown-header-color                      : $gray-light !default;
$dropdown-caret-color                       : #000 !default;

$map-primary-bg                             : mix($section-bg,$brand-white) !default;
$map-primary-alt                            : $brand-black !default;
$map-text-color                             : $brand-black !default;
$map-road-color                             : darken($map-primary-alt, 2%) !default; //
//------------------------------------------------------------------------------------------------------------------
// START MODAL ITEMS
//
$modal-backdrop-bg                          : $brand-black !default;
$modal-backdrop-opacity                     : .5 !default;
$modal-border-radius                        : $border-radius-base !default;
$modal-content-bg                           : $section-bg !default;
$modal-content-border-color                 : none !default;
$modal-content-fallback-border-color        : none !default;
//------------------------------------------------------------------------------------------------------------------
// START ADMIN BAR ITEMS
//
$admin-bar-height                           : 35px !default;
$admin-bar-color                            : #f9f9f9 !default;
$admin-bar-action-color                     : #f15a22 !default;
$admin-bar-bg                               : #349886 !default; //
//------------------------------------------------------------------------------------------------------------------
// START BOOTSTRAP CORE ITEMS
//
@import 'bootstrap-vars';
