
$section-bg                        : darken($brand-dark, 5%) !default;
$body-bg                           : $section-bg !default;

$footer-bg                         : darken($brand-dark ,5%) !default;
$footer-text                       : $brand-light !default;
$footer-links                      : darken($brand-light, 10%) !default; //

$brand-main                        : $brand-light !default;
$brand-invert                      : $brand-dark !default;

$component-bg                      : mix($section-bg, $brand-black, 85%) !default;
$component-header-bg               : darken($component-bg, 5%) !default;
$component-border-color            : darken($component-bg, 5%) !default;
$component-active-color            : $brand-white !default;
$component-active-bg               : $brand-primary !default; //

$header-color                      : mix($brand-gray,$brand-white) !default;
$text-color                        : mix($brand-white,$header-color) !default;
$link-color                        : $brand-light !default;

$navbar-default-bg                 : darken($brand-dark ,5%) !default;
$navbar-default-color              : $brand-light !default;
$navbar-default-link-color         : $navbar-default-color !default;
$navbar-default-link-hover-color   : darken($navbar-default-link-color, 15%) !default;
$navbar-default-link-active-color  : darken($navbar-default-link-hover-color, 15%) !default;
$navbar-default-link-disabled-color: darken($navbar-default-link-hover-color, 15%) !default;

$dropdown-bg                       : mix($brand-black, $brand-dark, 95%) !default;

$input-color                       : darken($brand-light, 5%) !default;
$input-bg                          : darken($brand-dark, 15%) !default;

$btn-default-color                 : $brand-white !default;
$btn-hover-bg-percent              : 2% !default;
$brand-primary-black-overlay       : $brand-primary !default;
$btn-default-bg                    : mix($brand-black, $brand-dark, 85%) !default;
$btn-default-border                : darken($btn-default-bg, $btn-hover-bg-percent) !default;

$btn-primary-color                 : $brand-white !default;

$map-primary-bg                    : $brand-light !default;
$map-primary-alt                   : $brand-dark !default;
$map-text-color                    : $brand-black !default;
$map-road-color                    : $brand-black !default;
