@import '../../../color-kits/525-realty'; // START ANY CUSTOM VARIABLES

$section-bg  : $brand-white !default;
$header-color: mix($brand-black,$brand-gray, 75%) !default;

$footer-bg   : $brand-dark !default;
$footer-text : $brand-white !default;
$footer-links: darken($footer-text , 20%) !default;
// END ANY CUSTOM VARIABLES
@import '../../template';
