@import '../../../color-kits/525-realty';
// START ANY CUSTOM VARIABLES
$btn-default-bg           : darken($brand-gray,80%) !default;
$input-bg                 : darken($brand-gray,80%) !default;
//
$section-bg               : darken($brand-dark,10%) !default;
// $navbar-default-bg        : darken($brand-black ,5%) !default;
$navbar-default-link-color: $brand-white !default;
// END ANY CUSTOM VARIABLES
@import '../global/dark-vars';
@import '../../template';
