@import '../../../color-kits/century-21';
// START ANY CUSTOM VARIABLES
$section-bg-alt           : $brand-white !default;
$link-color               : $brand-dark !default;
$navbar-default-link-color: $link-color !default;
// END ANY CUSTOM VARIABLES
@import '../../template';
 
