@import '../../../color-kits/churchill-brown';
// START ANY CUSTOM VARIABLES
$btn-default-bg           : darken($brand-primary,10%) !default;
$input-bg                 : darken($brand-primary,10%) !default;
//
$section-bg               : $brand-primary !default;
$navbar-default-bg        : darken($brand-primary ,25%) !default;
$navbar-default-link-color: $brand-light !default;

$footer-bg: darken($brand-primary ,5%) !default;

// END ANY CUSTOM VARIABLES
@import '../global/dark-vars';
@import '../../template';
