@import '../../../color-kits/e-home-pro';
// START ANY CUSTOM VARIABLES
$header-color            : $brand-dark;
$input-color             : $brand-light;
$input-bg                : $brand-gray;
$panel-bg                : $brand-light;
$panel-default-heading-bg: darken($brand-light, 5%);
$footer-text             : $brand-white;
$btn-info-bg             : $brand-red;
@import '../../template';
