@import '../../../color-kits/havenly';
$section-bg : lighten($brand-dark, 5%) !default;
$footer-bg  : darken($section-bg,2%) !default;
$footer-text: $brand-light !default;
@import '../global/dark-vars';
@import '../../template';
