// $brand-primary: #349886 !default; // Teal
@import '../../../color-kits/joyce-e-kelly-real-estate';
// START ANY CUSTOM VARIABLES
$header-color                               : $brand-gray !default;
$btn-default-color                          : lighten($brand-black,25%) !default;
$btn-default-bg                             : mix($brand-white, $brand-gray, 80%) !default;
$featured-content-overlay-bg                : $brand-dark !default;
// $btn-default-border                         : darken($btn-default-bg, $btn-hover-bg-percent) !default;
// END ANY CUSTOM VARIABLES
@import '../../template';
