@import '../../../color-kits/keller-williams'; //
$link-color        : $gray-3 !default;

$section-bg        : mix($gray-2, $brand-black, 40%) !default;
$navbar-default-bg : mix($gray-2, $brand-black, 40%) !default;

$component-bg      : mix($section-bg,$brand-black) !default;

$btn-default-bg    : mix($brand-black,$brand-gray, 90%) !default;
$input-bg          : mix($brand-black,$brand-gray, 50%) !default;
//
$footer-bg         : $brand-dark !default;
$footer-text       : $brand-gray !default;
//
$border-radius-base: 1px !default;
//
@import '../global/dark-vars';
@import '../../template';
