@import "../../../color-kits/keller-williams";

// START ANY CUSTOM VARIABLES

$header-color      : mix($brand-gray,$gray-1, 20%) !default;
$header-small-color: lighten($header-color,25%) !default;
$text-color        : $gray-1 !default;

$section-bg        : mix($brand-light,$brand-white, 90%) !default;
$section-bg-alt    : mix($brand-light,$brand-gray, 70%) !default;
$component-bg      : mix(mix($section-bg ,$section-bg-alt, 10%) ,$brand-white, 50%) !default;

$btn-default-bg    : mix($brand-light,$brand-gray, 50%) !default;
$input-bg          : mix($brand-light,$brand-white, 50%) !default;

$footer-bg         : $gray-1 !default;
$footer-text       : $brand-white !default;

$border-radius-base: 1px !default;

$modal-content-bg  : $section-bg !default;

// END ANY CUSTOM VARIABLES
@import "../../template";
