@import '../../../color-kits/kevo-properties';
// START ANY CUSTOM VARIABLES

$header-color      : mix($brand-gray,$brand-white, 90%) !default;
$header-small-color: lighten($header-color,25%) !default;

$section-bg        : mix($brand-gray,$brand-white, 10%) !default;
$section-bg-alt    : mix($brand-gray,$brand-white, 20%) !default;
$component-bg      : mix(mix($section-bg ,$section-bg-alt, 10%) ,$brand-white, 50%) !default;

$btn-default-bg    : mix($brand-gray,$brand-white, 15%) !default;
$input-bg          : mix($brand-gray,$brand-white, 5%) !default;

$footer-bg         : $brand-primary !default;
$footer-text       : $brand-white !default;

$border-radius-base: 1px !default;

// END ANY CUSTOM VARIABLES
@import '../../template';
