@import '../../../color-kits/kevo-properties';
// START ANY CUSTOM VARIABLES
$navbar-default-bg        : $brand-black !default;
$navbar-default-link-color: $brand-white !default;

$section-bg-alt           : $brand-black !default;
$section-bg               : darken($brand-black, 5%) !default;

$btn-default-bg           : darken($brand-black,2%) !default;
$input-bg                 : darken($brand-black,2%) !default;

$footer-bg                : darken($brand-primary, 15%) !default;
$footer-text              : $brand-light !default;
$footer-links             : darken($footer-text , 20%) !default;

@import '../global/dark-vars';
@import '../../template';
