@import '../../../color-kits/remax';
// START ANY CUSTOM VARIABLES
$section-bg               : $brand-white !default;

$navbar-default-bg        : $brand-white !default;
$navbar-default-color     : $brand-black !default;
$navbar-default-link-color: $brand-red !default;

$footer-bg                : $brand-blue !default;
$footer-text              : $brand-white !default;
$footer-links             : darken($footer-text , 20%) !default;
// END ANY CUSTOM VARIABLES
@import '../../template';
