@import '../../../color-kits/roger-shealy';
// START ANY CUSTOM VARIABLES
$section-bg: lighten($brand-dark, 0%) !default;
$footer-bg: darken($section-bg,2%) !default;
$footer-text: $brand-light !default;
$navbar-default-bg: $brand-black !default;
$navbar-default-color: $brand-light !default;
$navbar-default-link-color: $brand-white !default;

$featured-content-overlay-bg: $brand-black !default;

$btn-default-color: $brand-white !default;
$btn-default-bg: $brand-dark !default;
@import '../global/dark-vars';
// END ANY CUSTOM VARIABLES
@import '../../template';
.navbar-default .navbar-nav li a {
    text-transform: uppercase;
}
