@import '../../../color-kits/sage-realty'; // START ANY CUSTOM VARIABLES
@import '../../../color-kits/default'; // START ANY CUSTOM VARIABLES
$header-color     : mix($brand-gray,$brand-white) !default;
$navbar-default-bg: darken($brand-primary ,5%) !default;
$input-color                       : darken($brand-light, 5%) !default;
$input-bg                          : darken($brand-dark, 15%) !default;
$section-bg       : lighten($brand-dark, 5%) !default;
$footer-bg        : darken($section-bg,2%) !default;
$footer-text      : $brand-light !default;
@import '../global/dark-vars';
@import '../../template';
