@import '../../../color-kits/windermere';
// START ANY CUSTOM VARIABLES
$btn-default-bg           : darken($brand-gray,30%) !default;
$input-bg                 : darken($brand-gray,30%) !default;
//
$section-bg               : darken($brand-gray ,25%) !default;
$navbar-default-bg        : darken($brand-dark ,5%) !default;
$navbar-default-link-color: mix($brand-white, $brand-primary, 75%) !default;
// END ANY CUSTOM VARIABLES
@import '../global/dark-vars';
// END ANY CUSTOM VARIABLES
@import '../../template';
