@import '../../../color-kits/windermere'; // START ANY CUSTOM VARIABLES
$section-bg    : $brand-white !default;
$section-bg-alt: mix($brand-gray, $brand-white, 50%) !default;
$component-bg  : mix($brand-gray, $brand-white, 50%) !default;

$footer-bg     : $brand-gray !default;
$footer-text   : mix($brand-gray, $brand-white, 25%) !default;
$footer-links  : darken($footer-text , 20%) !default; //
// END ANY CUSTOM VARIABLES
@import '../../template';
