$brand-primary: #a91c24 !default;
$brand-black  : #231f20 !default;
$brand-gray   : #e6e6e6 !default;
$brand-white  : #ffffff !default;
$brand-green  : #4FB44B !default;
$brand-blue   : #084F76 !default;
$brand-orange : #DC470E !default;
$brand-red    : #a91c24 !default;
$brand-yellow : #B6B230 !default;
$brand-purple : #6775DC !default;
$brand-dark   : mix($brand-primary, $brand-black, $weight : 50%) !default;
$brand-light  : mix($brand-primary, $brand-white, $weight : 10%) !default;
