$brand-primary: #552448 !default;
$brand-black  : #3e3e3e !default;
$brand-gray   : #bbbbbb !default;
$brand-white  : #f9f9f9 !default;
$brand-green  : #245531 !default;
$brand-blue   : #244855 !default;
$brand-orange : #FF8900 !default;
$brand-red    : #E82F0C !default;
$brand-yellow : #E8BE0C !default;
$brand-purple : #552448 !default;

$brand-dark   : mix($brand-primary, $brand-black, $weight:50%) !default;
$brand-light  : mix($brand-primary, $brand-white, $weight:10%) !default;
