$brand-primary : #eeb227 !default;
$brand-black   : #212122 !default;
$brand-gray    : #b9b9b9 !default;
$brand-white   : #f9f9f9 !default;
$brand-green   : #27eeb2 !default;
$brand-blue    : #007DB2 !default;
$brand-orange  : #FF8900 !default;
$brand-red     : #ee4f27 !default;
$brand-yellow  : #eeb227 !default;
$brand-purple  : #4f27ee !default;

$brand-dark    : #463100 !default;
$brand-light   : #ffe19d !default;
