$brand-primary: #154392 !default;
$brand-black  : #000000 !default;
$brand-gray   : #b9b9b9 !default;
$brand-white  : #f9f9f9 !default;
$brand-green  : #85B211 !default;
$brand-blue   : #154392 !default;
$brand-orange : #f68422 !default;
$brand-red    : #CC381E !default;
$brand-yellow : #fef240 !default;
$brand-purple : #5F5399 !default;
$brand-dark   : mix($brand-primary, $brand-black, $weight:50%) !default;
$brand-light  : mix($brand-primary, $brand-white, $weight:10%) !default;
