$brand-primary: #b40101 !default;
$brand-black  : #000000 !default;
$brand-gray   : #CCCCCC !default;
$brand-white  : #FFFFFF !default;
$brand-green  : #4caf50 !default;
$brand-blue   : #3f51b5 !default;
$brand-orange : #f9990b !default;
$brand-red    : #990000 !default;
$brand-yellow : #ffc107 !default;
$brand-purple : #673ab7 !default;
// START KW SPECIAL COLORS
$kw-red       : #B40101 !default;
$dark-red     : #990000 !default;
$khaki        : #EFEFDE !default;
$taupe        : #A19F91 !default;
$light-taupe  : #DFDFD9 !default;
$gray-1       : #333 !default;
$gray-2       : #666 !default;
$gray-3       : #999 !default;
$gray-4       : #ccc !default;

// END KW SPECIAL COLORS
$brand-dark   : $dark-red !default;
$brand-light  : $light-taupe !default;
