$brand-primary: #0054A0 !default;
$brand-black  : #000000 !default;
$brand-gray   : #b9b9b9 !default;
$brand-white  : #f9f9f9 !default;
$brand-green  : #47964a !default;
$brand-blue   : #004480 !default;
$brand-orange : #FF9D00 !default;
$brand-red    : #d32436 !default;
$brand-yellow : #ffeb3b !default;
$brand-purple : #673ab7 !default;
$brand-dark   : mix($brand-primary, $brand-black, $weight:50%) !default;
$brand-light  : #cbdae6 !default;
