$brand-primary: #0176c5 !default;
$brand-black  : #222222 !default;
$brand-gray   : #b9b9b9 !default;
$brand-white  : #f9f9f9 !default;
$brand-green  : #357737 !default;
$brand-blue   : #0176c5 !default;
$brand-orange : #bf842d !default;
$brand-red    : #bf3f36 !default;
$brand-yellow : #a59b43 !default;
$brand-purple : #4d3052 !default;
$brand-dark   : mix($brand-primary, $brand-black, $weight:50%) !default;
$brand-light  : mix($brand-primary, $brand-white, $weight:10%) !default;
