$brand-primary: #a40000 !default;
$brand-black  : #000000 !default;
$brand-gray   : #e2e2e2 !default;
$brand-white  : #f9f9f9 !default;
$brand-green  : #00a400 !default;
$brand-blue   : #0000a4 !default;
$brand-orange : #a45200 !default;
$brand-red    : #a40000 !default;
$brand-yellow : #a40000 !default;
$brand-purple : #800080 !default;
$brand-dark   : mix($brand-primary, $brand-black, $weight:50%) !default;
$brand-light  : mix($brand-primary, $brand-white, $weight:10%) !default;
 
