$brand-primary: #fff200 !default;
$brand-black  : #222222 !default;
$brand-gray   : #c5c4c7 !default;
$brand-white  : #f9f9f9 !default;
$brand-green  : #69993D !default;
$brand-blue   : #009fd0 !default;
$brand-orange : #e67e22 !default;
$brand-red    : #B20A29 !default;
$brand-yellow : #fde93a !default;
$brand-purple : #6A40FF !default;
$brand-dark   : #1b1c2a !default;
$brand-light  : #c2bbb7 !default;
