$brand-primary: #0f2b5b !default;
$brand-black  : #222222 !default;
$brand-gray   : #808080 !default;
$brand-white  : #f9f9f9 !default;
$brand-green  : #0CE87A !default;
$brand-blue   : #0f2b5b !default;
$brand-orange : #E8960C !default;
$brand-red    : #FF160D !default;
$brand-yellow : #a8b70f !default;
$brand-purple : #8240FF !default;
$brand-dark   : mix($brand-primary, $brand-black, $weight:80%) !default;
$brand-light  : mix($brand-primary, $brand-white, $weight:10%) !default;
