$section-root: 'body.static .static-team';
@at-root html.no-touch #{$section-root} {}

#{$section-root} {
    .member-picture {
        img {
            margin-bottom: 10px;
        }
    }
    .member-info {
        h3 {
            margin-top: 0;
        }
    }
    @media (max-width: $screen-sm) {
        .same-height-team {
            min-height: auto !important;
        }
    }
}
