$section-id: '#listing-thumbnails';
$section-root: 'body.listing '+$section-id;
@at-root html.no-touch #{$section-root} {}

#{$section-root} {
    overflow : hidden;
    max-width: 100%;
    @media (max-width: $screen-sm-min) {
        padding: 0;
        width  : 100%;

        .container {
            padding: 0;
        }
    }

    .swiper-container {
        width     : 100%;
        min-height: 100px;
        overflow  : visible;

        .swiper-wrapper {
            @media (min-width: $screen-sm-min) {
                margin: 0 auto 20px;
            }
        }
    }

    .swiper-slide {
        width                  : 600px;
        /* Microsoft Edge Browser 12+ (All) - one-liner method */
        _:-ms-lang(x), _:-webkit-full-screen, img { position: relative; }

        @media (max-width: $screen-sm-min) {
            width     : 100% !important;
            box-shadow: none;
        }
        max-width              : $screen-md;
        display                : -webkit-box;
        display                : -ms-flexbox;
        display                : -webkit-flex;
        display                : flex;
        -webkit-box-pack       : center;
        -ms-flex-pack          : center;
        -webkit-justify-content: center;
        justify-content        : center;
        -webkit-box-align      : center;
        -ms-flex-align         : center;
        -webkit-align-items    : center;
        align-items            : center;
        // background             : $loader-bg;
        overflow               : hidden;
        @include box-shadow($box-shadow-blurry);

        .img-action {
            position      : absolute;
            z-index       : 100;
            top           : 5px;
            color         : $brand-light;
            background    : $brand-dark;
            display       : inline;
            padding       : 5px;
            font-size     : 85%;
            font-weight   : 700;
            line-height   : 1;
            text-align    : center;
            white-space   : nowrap;
            vertical-align: baseline;
            border-radius : $border-radius-base;
            margin        : 5px;
            @include transition($transition-opacity);

            &.btn-pin {
                left: 5px;
                @include transition(background $transition-speed $transition-type);

                &:hover {
                    color     : $brand-white;
                    background: $pinterest-main;
                }
            }

            &.btn-gallery {
                right: 5px;
                @include transition(background $transition-speed $transition-type);

                &:hover {
                    color     : $brand-main;
                    background: $brand-invert;
                }
            }

            &.count {
                top    : auto;
                bottom : 5px;
                left   : 5px;
                opacity: .75;
            }

            &.tour-type {
                left: 5px;
            }
        }
        @at-root html.no-touch #{$section-root} .swiper-slide {
            // &:hover {
            //     .img-action {
            //         opacity: 0;
            //     }
            // }
        }
        @at-root html.touch #{$section-root} {
            .img-action {
                opacity: 1 !important;
                padding: 10px;

                &.btn-pin {
                    color     : #efefef;
                    background: #bd081c;
                }
            }
        }

        // .swiper-lazy-preloader {
        //     border-top-color : $brand-invert;
        //     border-left-color: $brand-invert;
        // }

        .iframe-span {
            background: tranparent;
            width     : 100%;
            height    : 100%;
            position  : absolute;
            z-index   : 100;
        }

        &.swiper-slide-active {
            .iframe-span {
                display: none;
            }
        }

        .tour-iframe-slide {
            width  : 100%;
            border : none;
            height : 100%;
            z-index: 20;
        }

        img {
            width: 100%;
        }
    }
}
