$section-id: '#listing-description';
$section-root: 'body.listing '+$section-id;
@at-root html.no-touch #{$section-root} {}

#{$section-root} {
    .section-heading {
        margin-bottom: 0;
    }

    .subsection-heading {
        margin-bottom: 5px;
    }

    .listing-points {
        margin-left  : 0;
        margin-bottom: 15px;

        li {
            text-transform: capitalize;
            padding-left  : 0;
            padding-right : 0;
            color         : $header-small-color;

            &:after {
                content  : '\2022 ';
                font-size: 20px;
                color    : $brand-primary;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }

    #listing-details-description-text {
        .description {
            p {
                font-size: 110%;
            }
        }

        .amenities {
            p {
                color      : $header-color;
                font-size  : 115%;
                font-weight: 400;
                font-style : italic;
            }
        }
    }

    .listing-specs {
        margin-left  : 0;
        margin-bottom: 15px;

        li {
            padding      : 10px;
            background   : $component-bg;
            font-weight  : 400;
            margin       : 0 5px 5px 0;
            border       : none;
            border-radius: $border-radius-base;
            color        : $header-small-color;
            @include box-shadow($component-box-shadow);

            &.status {
                background: $brand-green;
                color     : $brand-white;
            }

            &.sold {
                background: $brand-red;
                color     : $brand-white;
            }

            &.contract-pending {
                background: $brand-orange;
                color     : $brand-white;
            }

            &.coming-soon {
                background: $brand-blue;
                color     : $brand-white;
            }
        }
    }
}
