$section-id: '#listing-tour-swipe';
$section-root: 'body.listing '+$section-id;
@at-root html.no-touch #{$section-root} {}

#{$section-root} {
    overflow : hidden;
    max-width: 100%;
    @media (max-width: $screen-sm-min) {
        padding: 0;
        width  : 100%;

        .container {
            padding: 0;
        }
    }

    .swiper-container {
        width     : 100%;
        min-height: 100px;
        overflow  : visible;

        .swiper-wrapper {
            @media (min-width: $screen-sm-min) {
                margin: 0 auto 20px;
            }
        }
    }

    .swiper-slide {
        width                  : 250px;
        max-width              : $screen-sm;
        display                : -webkit-box;
        display                : -ms-flexbox;
        display                : -webkit-flex;
        display                : flex;
        -webkit-box-pack       : center;
        -ms-flex-pack          : center;
        -webkit-justify-content: center;
        justify-content        : center;
        -webkit-box-align      : center;
        -ms-flex-align         : center;
        -webkit-align-items    : center;
        align-items            : center;
        background             : $brand-primary;
        overflow               : hidden;

        .img {
            width                  : 100%;
            background-repeat      : no-repeat;
            background-position    : center center;
            -webkit-background-size: cover;
            -moz-background-size   : cover;
            -o-background-size     : cover;
            background-size        : cover;

            &:after {
                opacity    : .75;
                font-family: 'FontAwesome';
                content    : '\F144';
                font-size  : 60px;
                position   : absolute;
                line-height: 1;
                color      : darken($brand-light, 5%);
                left       : 50%;
                top        : 50%;
                margin-left: -30px;
                margin-top : -30px;
                z-index    : 100;
            }
        }

        .img-action {
            opacity       : .5;
            position      : absolute;
            z-index       : 100;
            bottom        : 5px;
            left          : 5px;
            color         : $brand-invert;
            background    : $brand-main;
            display       : inline;
            padding       : 5px;
            font-size     : 85%;
            font-weight   : 700;
            line-height   : 1;
            text-align    : center;
            white-space   : nowrap;
            vertical-align: baseline;
            border-radius : $border-radius-base;
            margin        : 5px;
            @include transition(opacity .25s ease-in-out);
        }
        @at-root html.no-touch #{$section-root} .swiper-slide {
            &:hover {
                .img-action {
                    opacity: 1;
                }
            }
        }
        @media (max-width: $screen-sm-min) {
            width     : 100% !important;
            box-shadow: none;
        }
        @include box-shadow($box-shadow-blurry);

        .swiper-lazy-preloader {
            border-top-color : $brand-invert;
            border-left-color: $brand-invert;
        }
        // &.matterport,
        // .na,
        // .toursler {
        //     &:before {
        //         content: 'Virtual "attr(data-type)"';
        //     }
        //
        //     a {
        //         &:after {
        //             content      : ' ';
        //             position     : absolute;
        //             background   : darken($brand-main, 5%);
        //             left         : 0;
        //             right        : 0;
        //             top          : 0;
        //             bottom       : 0;
        //             border-radius: $border-radius-base;
        //         }
        //     }
        // }
        //
        // &.video {
        //     background: darken($brand-main, 5%);
        //
        //     &:before {
        //         content      : '"attr(data-vendor)" "attr(data-type)"';
        //         position     : absolute;
        //         z-index      : 10;
        //         bottom       : 5px;
        //         left         : 5px;
        //         padding      : 5px 10px;
        //         background   : darken($brand-invert, 5%);
        //         line-height  : 1;
        //         border-radius: 4px;
        //         font-size    : 80%;
        //         color        : darken($brand-main, 5%);
        //     }
        //
        // }
    }
}
