$section-id: '#listing-maps';
$section-root: 'body.listing '+$section-id;
@at-root html.no-touch #{$section-root} {}
//
//

#{$section-root} {
    padding-bottom: 0;

    .map-section {
        .map-title-section {
            background-color: $nav-tab-bg;
            padding         : $grid-gutter-width 0;
            border-bottom   : solid 1px darken($nav-tab-bg,5%);
        }
    }

    .nav-tabs {
        border-bottom: none;
        li {
            a {
                &:hover {
                    background-color: $nav-tabs-active-link-hover-bg;
                }
            }
        }
    }

    .tab-content {
        @include transition(all $transition-speed $transition-type);
        background-color: $nav-tab-bg;
        margin-bottom   : 0;
    }
}

.modal.listing-mobile-map {
    button.close {
        position   : absolute;
        z-index    : 100;
        background : $brand-black;
        opacity    : 1;
        padding    : 10px;
        text-shadow: none;
        color      : $brand-white;
        top        : 0;
        right      : 0;
        font-size  : 35px;
        line-height: 1;
    }

    .map-container {
        min-height      : 100%;
        position        : absolute;
        left            : 0;
        right           : 0;
        top             : 0;
        bottom          : 0;
        width           : 100%;
        height          : 100%;
    }

    .listing-mobile-map-form {
        position  : absolute;
        z-index   : 100;
        background: $section-bg;
        left      : 0;
        right     : 0;
        bottom    : 0;
        padding   : 10px 0;
        border-top: solid 1px darken($section-bg,10%);
        box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.35);
    }

    .gm-style {
        .gm-iv-address,
        .gmnoprint {
            display: none !important;
        }
    }
}
